html,
body {
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
}

#AppBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the background color and opacity as desired */
  backdrop-filter: blur(10px); /* Add the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  z-index: 1;
}

#MainTitle {
  position: relative;
  margin-bottom: 0px;

  font-family: "Mate";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #1d1d1d;
}

#SubTitle {
  position: relative;
  margin-top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 24px;
  /* identical to box height, or 218% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

#Ask {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

#AskTitle {
  position: relative;
  width: 173px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

#planning {
  display: none;
}

#planning.show {
  display: block;
}

#recommandations {
  display: none;
}

#recommandations.show {
  display: block;
}

#tickets {
  display: none;
}

#tickets.show {
  display: block;
}

#korean-app {
  display: none;
}

#korean-app.show {
  display: block;
}

#all-other-difficulties {
  display: none;
}

#all-other-difficulties.show {
  display: block;
}

#category-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.category {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  border-radius: 5px;
  padding: 3px;
}

.category-text {
  position: relative;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  /* identical to box height, or 240% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;

  color: #000000;
}

#details {
  position: relative;
}

#detail-title {
  position: relative;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #000000;
}

#detail-p {
  position: relative;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  /* or 218% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #000000;
}

img {
  width: 80%;
}

#guide-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.guide-photo {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.guide-photo img {
  width: 100%;
  height: auto;
  display: block;
}
